<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ApplicationApplyMapper">
  <select id="get" resultType="po.ApplicationApply" parameterType="int">
		select * from application_apply where id=#{id}
	</select>

	<select id="getApplictionIdByTaskId" resultType="po.ApplicationApply" parameterType="string">
			SELECT
				a.*
			FROM
				act_ru_task t
			JOIN act_ru_execution e ON e.ID_ = t.EXECUTION_ID_
			join application_apply a ON a.id = e.BUSINESS_KEY_
			WHERE t.ID_ = #{taskId}
	</select>

	<select id="getApplicationIds" resultType="po.ApplicationApply" parameterType="string">
			SELECT id FROM application_apply p WHERE p.userId = #{userId}
	</select>

	<select id="getTaskList" resultType="pagemodel.Task">
		SELECT
			t.PROC_INST_ID_ processInstanceId,
			t.PROC_DEF_ID_ processDefinitionId,
			t.NAME_ name,
			t.ID_ id
		FROM
		application_apply a
		JOIN act_ru_execution e ON e.BUSINESS_KEY_ = a.id
		JOIN act_ru_task t ON t.EXECUTION_ID_ = e.ID_
		WHERE a.id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>

		limit #{pageNumber} , #{pageSize}
	</select>

	<select id="getTaskCount" resultType="int">
		SELECT
			count(1)
		FROM
		application_apply a
		JOIN act_ru_execution e ON e.BUSINESS_KEY_ = a.id
		JOIN act_ru_task t ON t.EXECUTION_ID_ = e.ID_
		WHERE a.id in
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

  <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="po.ApplicationApply">
	  insert into application_apply (id,itemlist,applytime,applyer, userId)
	  values (#{id},#{itemlist},#{applytime},#{applyer}, #{userId})
	 </insert>
  <update id="update" parameterType="po.ApplicationApply">
		update application_apply set itemlist=#{itemlist},
		applytime=#{applytime},applyer=#{applyer},userId=#{userId}
		where id=#{id}
	</update>
</mapper>